header
  nav(class="navbar bg-dark navbar-expand bg-body-tertiary" data-bs-theme="dark")
    .container-fluid.d-flex.justify-content-between
      a(class="navbar-brand" href="#") TASKMANAGEMENT
      .navbar-nav
        a(class="nav-link" aria-current="page" href="#") Signup 
        a(class="nav-link" href="#") Login
        a(class="nav-link" href="#") Logout