extends base

block content
  .container.content-wraper
    h4 Signup to manage your tasks
    form.my-4.form-wraper.signup_form
      .mb-3 
        label(for="inputName" class="form-label") Name
        input(type="text" class="form-control" id="inputName" required)
      .mb-3 
        label(for="inputEmail" class="form-label") Email address
        input(type="email" class="form-control" id="inputEmail" required)
      .mb-3 
        label(for="inputPassword" class="form-label") Password
        input(type="password" class="form-control" id="inputPassword" required)
      .mb-3 
        label(for="inputPasswordConfirm" class="form-label") Password confirm
        input(type="password" class="form-control" id="inputPasswordConfirm" required)
      button(type="submit" class="btn btn-primary") Submit
    p
      a(href="/login" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover") Allready register click login
